.logo{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    cursor: pointer;
    opacity: 0.6;
}

.container{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}